@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.elipse1,.elipse2,.elipse3{
    position: absolute;
    height: 200vh;
    width: 100vw;
    border-radius: 50%;
    bottom: -50%;
    transform: translateY(50%);
   
}
.elipse2{
    transform: translate(10%,50%);
}
.elipse3{
    transform: translate(20%,50%);

}
.svg circle {
    stroke-dashoffset: 0;
    transition: stroke-dashoffset 1s linear;
    stroke: #e5e7eba7;
    stroke-width: 1.7em;
  }
  .svg .circle-bar {
    stroke: #fb923c;
    stroke-linecap: round;
    transform: rotate(270deg);
    transform-origin: 50% 50%;
    
  }
.circle{
    display: block;
    height: 200px;
    width: 200px;
    margin: 2em auto;
    box-shadow: 0 0 1em black;
    border-radius: 100%;
    position: relative;
}
circle.dot-circle{
    stroke: none;
    fill: #fff;
}